.link {
  position: relative;
  margin: 0 1em;
  color: var(--oorange);
  background-color: white;
  font-size: medium;
  border: 2px solid white;
  box-sizing: border-box;
  transition: all 0.5s ease;
  padding: 0.4rem 0.5rem;
  background: linear-gradient(to bottom left, #fff 50%, transparent 0);
  background-position: 100% 0;
  background-size: 250% 250%;

  @media screen and (min-width: 768px) {
    &:first-child {
      padding-right: 5rem;
    }

    &:last-child {
      padding-left: 5rem;
    }
  }

  &:hover {
    background-position: 0 80%;
    border: 2px solid white;
    background-color: var(--oorange);
    color: white;
  }
}
