@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --oorange: #eb5729;
  --bblue: #2293a3;
  --sand: #f9f7eb;
  --warning-border: #ffa300;
  --warning-background: #fff1c6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

small {
  font-size: 12px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
